body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

textarea {
    border: 2px solid #a00;
    height: 150px;
    width: 95%;
    padding: 10px;
}

iframe {
    border: 2px solid #a00;
    height: 450px;
    width: 95%;
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
    background-color: #297c37;
}