@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /* Customize parts of DevPad to your liking! */
    --button-color: #4caf50;
    --button-hover: #3e8e41;
    --button-pressed: #297c37;

    --background-color: #f2f2f2;
    
    --border-color: #a00;
    --border-size: 2px;
    --border-radius: 5px;

    --text-color: #000;
    --font-size: 14px;
    --font: 'Roboto';
}

* {
  font-family: "Fira Code", monospace;
}

table {
  table-layout: fixed;
}

textarea{
    background: black;
    color: white;
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
}

h1 {
    text-align: center;
    margin-top: 20px;
}

iframe {
    border: var(--border-size) solid #a00;
    border-radius: var(--border-radius);;
    height: 535px;
    width: 95%;
    padding: 10px;
}

button {
    background-color: var(--button-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    background-color: var(--button-pressed);
}

#htmlSource, #highlighting,textarea {
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: 150px;
  border-radius: 5px;
  white-space: nowrap;
}
#htmlSource, #highlighting, #highlighting *, textarea {
  font-size: 15pt;
  font-family: monospace;
  line-height: 1.5;
  tab-size: 2;
}

#htmlSource {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#htmlSource{
  color: transparent;
  background: transparent;
  caret-color: rgb(247, 244, 244); /* Or choose your favourite color */
  resize: none;
}

#editing, #highlighting {
    overflow: auto;
    white-space: nowrap;
}

p code {
  border-radius: 2px;
  background-color: #eee;
  color: #111;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: .4em .8em;
  margin: .5em 0;
  overflow: auto;
  background: black;
}

code[class*="language-"] {
  background: black;
  color: white;
  box-shadow: -.3em 0 0 .3em black, .3em 0 0 .3em black;
}

:not(pre) > code[class*="language-"] {
  padding: .2em;
  border-radius: .3em;
  box-shadow: none;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #aaa;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #0cf;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: yellow;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
  color: yellowgreen;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: deeppink;
}

.token.regex,
.token.important {
  color: orange;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: red;
}

pre.diff-highlight.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.deleted:not(.prefix) {
  background-color: rgba(255, 0, 0, .3);
  display: inline;
}

pre.diff-highlight.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.inserted:not(.prefix) {
  background-color: rgba(0, 255, 128, .3);
  display: inline;
}
